@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --popupShadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  --modalShadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-pretendard: 'Pretendard Variable';
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

@layer base {
  html {
    font-family: 'Pretendard', sans-serif;
    font-size: 15px;
  }
  /* 마우스 selection */
  ::selection{background: rgb(180, 212, 250);}
  ::-moz-selection{background: rgb(180, 212, 250);}

  /* scrollbar */
  ::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(185 185 185);
    border-radius: 10px;
    transition: background-color ease 0.2s
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(160, 160, 160);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    background: rgb(128 128 128 / 25%);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-corner {
    background: rgb(255 255 255);
  }

  .scroll-8px::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  
  html, body {
    height: 100%;
  }
  body {
    background: var(--background);
    color: var(--foreground);
  }

  .no-hover {
    background-color: transparent;
  }

/* 적용 버튼 기본값*/
button.dft-apply-btn {
  background: #4485ff;
  border: 1px solid #4485ff;
  color: white;
  border-radius: 2px;
  padding: 5px 6px;
  font-size: 13px;
  text-align: center;
  min-width: 30px;
  transition: background-color ease 0.12s;
  line-height: 100%;
}
button.dft-apply-btn:hover {
  background: #5a93fb;
  border: 1px solid #5a93fb;
}
button.dft-apply-btn:focus, button.dft-apply-btn:focus-visible {
  outline-offset: 1px;
  outline: 1px solid #538eff;
}

/* 삭제 버튼 기본값*/
button.dft-delete-btn {
  background: #ff6868;
  border: 1px solid #ff6868;
  color: white;
  border-radius: 2px;
  padding: 5px 6px;
  font-size: 13px;
  text-align: center;
  min-width: 30px;
  transition: background-color ease 0.12s;
  line-height: 100%;
}
button.dft-delete-btn:hover {
  background: #ff7e7e;
  border: 1px solid #ff7e7e;
}
button.dft-delete-btn:focus, button.dft-delete-btn:focus-visible {
  outline-offset: 1px;
  outline: 1px solid #ff6868;
}

/* 일반 버튼 기본값*/
button.dft-btn {
  background: white;
  border: 1px solid rgb(199 199 199);
  border-radius: 2px;
  padding: 5px 6px;
  font-size: 13px;
  text-align: center;
  min-width: 53px;
  transition: background-color ease 0.12s;
  line-height: 100%;
}
button.dft-btn:hover {
  border: 1px solid rgb(169 169 169);
  background: #F8F8F8;
}
button.dft-btn:focus, .dft-btn:focus-visible {
  outline-offset: 1px;
  outline: 1px solid rgb(100 147 246);
}

.itemTable th, .itemTable td {
  font-size: 14px;
}

li[data-li='dropdown-option-list'].alert {
  border-color: #ffa2a2 !important;
}
}

@layer utilities {
}

@layer components {
}